.hero {
    padding: 100px 0;
}

.hero img {
    width: 180px;
    border-radius: 50%;
    border: 5px solid #0d6efd;
}

.about-text {
    max-width: 700px;
    font-size: 18px;
    color: #555;
}

img {
    border-radius: 10px;
}